.edit-icon {
  width: 16px;
  height: 16px;
  filter: brightness(0) saturate(100%) invert(14%) sepia(13%) saturate(1721%)
    hue-rotate(195deg) brightness(93%) contrast(91%);
}

.react-crop {
  max-height: 400px;
  overflow: auto;
}

.react-crop {
  max-height: 50vh;
  width: 100%;
  overflow: hidden;
}

.react-crop img {
  max-width: 100%;
  max-height: 50vh;
  object-fit: contain;
}
